$colors: (
  primary: (
    100: #717f94,
    200: #54626d,
    300: #4d5c68,
    400: #374553,
    450: #373c44,
    500: #343a43,
    600: #2b3036,
    700: #25292f,
    800: #25282e,
    900: #22262b,
    1000: #202328,
    1100: #1a1d21,
    9999: #000,
  ),
  basic: (
    100: #ffffff,
    150: #e5e5e5,
    200: #cccccc,
    300: #c0c0c0,
    400: #9a9a9a,
    500: #808080,
    700: #2d2d2d,
    800: #1c1c1c,
  ),
  actions: (
    100: #93c4ff,
    200: #8cc0f2,
    300: #5ea8ed,
    400: #2d7fdc,
    500: #267ce0,
    600: #2272ce,
    700: #1a6ac5,
  ),
  positive: (
    100: #40c374,
    200: #3bb86d,
    300: #2fa35e,
  ),
  negative: (
    100: #ff5f5f,
    200: #e84a4a,
    300: #992424,
  ),
  star: (
    100: #ffff86,
  ),
  warning: (
    100: #ffc000,
    200: #ffb300,
    300: #ffa000,
    400: #ff8f00,
    500: #ff7f00,
    600: #ff6f00,
    700: #ff5f00,
  ),
);
