@use '../../styles/main' as *;

.#{$prefix} {
  &-player-button {
    &-volume {
      display: flex;
      align-items: center;
      flex-direction: row;

      &-slider {
        margin: 0;
        margin-left: 0.5rem;
        width: 0;
        min-width: 0;
        height: 0.2rem;
        background-color: get-color('basic', 300);
        border-radius: 0.2rem;
        transition: width 0.1s, margin 0.1s;

        &::before {
          content: '';
          position: absolute;
          top: 0.25rem;
          left: 2rem;
          width: calc(100% - 2rem);
          height: calc(100% - 0.4rem);
        }

        &-thumb {
          position: relative;
          width: 100%;
          height: inherit;
          transform: translateX(calc(var(--volume, 0) - 0.35rem));
          opacity: 0;

          &::before {
            content: '';
            position: absolute;
            width: 0.7rem;
            height: 0.7rem;
            background-color: white;
            top: -0.25rem;
            left: 0;
            border-radius: 50%;
          }
        }
      }

      &:hover &-slider,
      &:active &-slider {
        width: 4rem;
        margin-right: 0.2rem;
      }

      &:hover &-slider-thumb,
      &:active &-slider-thumb {
        opacity: 1;
      }
    }
  }
}
